{erl_opts, [debug_info]}.
{deps, [
	{rebar3_gpb_plugin, {git, "git@github.com:lrascao/rebar3_gpb_plugin.git", {tag, "2.23.0"}}}
]}.

{relx, [{release, {serverproject, "0.1.0"},
         [serverproject,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.

{plugins, [
	rebar3_run,
	rebar3_hex,
	{rebar3_gpb_plugin, "2.23.0"}
]}.
